header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: clamp(0.5rem, 5vh, 2rem);
  text-align: center;
}

#green {
  color: rgb(0, 162, 0);
}
#yellow {
  color: rgb(170, 170, 0);
}
#red {
  color: red;
}

.user-data {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.5rem, 5vh, 2rem);
  text-align: center;
}

input {
  width: 5vh;
}

input {
  margin: 1.5rem auto;
  border: none;
  padding: 0;
  width: 7ch;
  background: repeating-linear-gradient(
      90deg,
      dimgrey 0,
      dimgrey 1ch,
      transparent 0,
      transparent 1.5ch
    )
    0 100%/ 10ch 2px no-repeat;
  letter-spacing: 0.5ch;
  font-size: 2rem;
}
input:focus {
  outline: none;
  color: dodgerblue;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffffff;
  padding: 0.3rem 1.2rem;
  font-size: 1.2rem;
}
