header,
.user-data,
.flex-box,
.item-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  flex-direction: column;
}

#green {
  color: rgb(0, 162, 0);
}
#yellow {
  color: rgb(170, 170, 0);
}
#red {
  color: red;
}

.user-data,
header {
  font-size: clamp(0.5rem, 5vh, 2rem);
  text-align: center;
}

input {
  width: 5vh;
}

.flex-box {
  flex-wrap: wrap;
  margin: 10vh 10vw 0 10vw;
  gap: 0.3rem;
}

.item-box {
  background-color: rgb(255, 0, 0);
  width: 15vh;
  height: 15vh;
  font-size: 5vh;
}

#isEven {
  background-color: rgb(0, 162, 0);
}
#isOdd {
  background-color: rgb(170, 170, 0);
}
#isPrime {
  background-color: red;
}
